/* AdminLogin.css */

.admin-login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-login-form {
  background-color: var(--primary-hover);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.admin-login-form h2 {
  margin-bottom: 24px;
  text-align: center;
  color: #f4f0f0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #fffefe;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: var(--light);
  outline: none;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
    background-color: var(--white);

  color: var(--dark);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--light);

}

button[disabled] {
  background-color: #9e9e9e;
  cursor: not-allowed;
}

.error-message {
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  text-align: center;
}
