/*section four*/
.sectionAboutFour {
  background-color: var(--light);
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.client-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--primary-hover);
}

.gallery-grid {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
}

.gallery-card {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.gallery-card:hover {
  transform: scale(1.6);
  transform: translateY(-12px); /* Slightly larger hover effect */
  box-shadow: var(--primary-hover) 0px 3px 6px, var(--primary-hover) 0px 3px 6px;  
}

.gallery-media {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 999;
}

.modal-content {
  background: var(--primary-hover) !important;
  padding: 2rem;
  border-radius: 16px;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  animation: slideIn 0.3s ease-in-out;
  position: relative;
  text-align: center;
}
.modal-content h2 {
  color: var(--light);
  font-size: 2rem;
}
.modal-content p {
  color: var(--light);
  font-size: 1 rem;
}

.modal-media {
  width: 100%;
  max-height: 400px;
  margin-top: 1rem;
  object-fit: contain;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  right: 16px;
  top: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 1rem;
  }

  .gallery-card {
    border-radius: 8px;
  }

  .gallery-media {
    height: 4rem; /* smaller image on mobile */
  }

  /* Disable large hover zoom effect on mobile */
  .gallery-card:hover {
    transform: none;
    box-shadow: none;
  }

  .client-title {
    font-size: 1.5rem;
  }

  .sectionAboutFour {
    padding: 1.5rem 0.5rem;
  }
}
